on:
  push:
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

name: Create Release

jobs:
  build:
    name: Create Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@master
      - name: Create Release for Tag
        id: release_tag
        uses: MaleWeb/release-tag@master
        env:
          GITHUB_TOKEN: ${{ secrets.DESIGN_SECRET }}
        with:
          tag_name: ${{ github.ref }}
          body: |
            test